node_modules/node-red-contrib-bitunloader/examples/example_flow.json
[{"id":"96bda344.1a234","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4d22774f.6f4b88","type":"inject","z":"96bda344.1a234","name":"","topic":"1","payload":"{\"foo\":3,\"bar\":7}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["4e423a57.815bc4"]]},{"id":"4e423a57.815bc4","type":"bitunloader","z":"96bda344.1a234","name":"unload payload.foo to an Object of bits","mode":"objectBits","prop":"payload.foo","padding":"16","x":400,"y":220,"wires":[["61b4531a.6e0b8c","a8f07751.c9b828"]]},{"id":"61b4531a.6e0b8c","type":"debug","z":"96bda344.1a234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.foo","targetType":"msg","x":700,"y":220,"wires":[]},{"id":"a8f07751.c9b828","type":"bitreloader","z":"96bda344.1a234","name":"Auto Reload to a Number","autoMode":"auto","prop":"payload","x":360,"y":320,"wires":[["56d58b20.48d464"]]},{"id":"56d58b20.48d464","type":"debug","z":"96bda344.1a234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":320,"wires":[]},{"id":"a67c46f4.e06848","type":"inject","z":"96bda344.1a234","name":"","topic":"1","payload":"{\"string\":\"Hello World!\",\"number\":\"101\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":520,"wires":[["34f42dc1.0f3592"]]},{"id":"34f42dc1.0f3592","type":"bitreloader","z":"96bda344.1a234","name":"Manual reload from binary string","autoMode":"manual","prop":"payload.string","mode":"string","x":350,"y":520,"wires":[["77eb8877.581048"]]},{"id":"77eb8877.581048","type":"debug","z":"96bda344.1a234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":520,"wires":[]},{"id":"5f73fa7a.0787b4","type":"inject","z":"96bda344.1a234","name":"","topic":"1","payload":"{\"foo\":3,\"bar\":7}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":420,"wires":[["7cfe7faf.64013"]]},{"id":"7cfe7faf.64013","type":"bitunloader","z":"96bda344.1a234","name":"unload payload.bar to an array of bool","mode":"arrayBools","prop":"payload.bar","padding":"none","x":400,"y":420,"wires":[["a8f07751.c9b828","cca966d2.246038"]]},{"id":"cca966d2.246038","type":"debug","z":"96bda344.1a234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.bar","targetType":"msg","x":680,"y":420,"wires":[]},{"id":"e5c68c55.ec39c","type":"inject","z":"96bda344.1a234","name":"","topic":"1","payload":"32","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":640,"wires":[["374229a4.2e2286"]]},{"id":"374229a4.2e2286","type":"bitunloader","z":"96bda344.1a234","name":"unload payload to an Object of bits","mode":"objectBools","prop":"payload","padding":"16","x":320,"y":640,"wires":[["35e9bbba.0d35c4","613f6e87.e597e"]]},{"id":"35e9bbba.0d35c4","type":"debug","z":"96bda344.1a234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":640,"wires":[]},{"id":"613f6e87.e597e","type":"change","z":"96bda344.1a234","name":"","rules":[{"t":"set","p":"payload.b0","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":720,"wires":[["4f569ffc.1dedb"]]},{"id":"b2699720.01d258","type":"debug","z":"96bda344.1a234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":720,"wires":[]},{"id":"4f569ffc.1dedb","type":"bitreloader","z":"96bda344.1a234","name":"","autoMode":"auto","prop":"_prop","mode":"_mode","x":410,"y":720,"wires":[["b2699720.01d258"]]}]
