lib/flows/STM32CubeMonitor_AdvancedFlow.json
[{"id":"9926b2a6.cef5f","type":"tab","label":"Advanced Flow","disabled":false,"info":"# Advanced Flow of STM32CubeMonitor to highlight possibilities"},{"id":"c87292d9.be5f3","type":"tab","label":"UI Buttons","disabled":false,"info":""},{"id":"8381c865.236028","type":"subflow","name":"Single value","info":"The 'single value' subflow allows to extract data from processing node.\r\n\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on : [Node-Red](https://nodered.org/docs/user-guide/editor/workspace/subflows)\r\n\r\n\r\n-------\r\n\r\n","category":"","in":[{"x":40,"y":60,"wires":[{"id":"3c5ffe0d.9063b2"}]}],"out":[{"x":780,"y":140,"wires":[{"id":"66397fd3.d8111","port":0}]}],"env":[{"name":"varfilter","type":"str","value":"","ui":{"icon":"font-awesome/fa-filter","label":{"en-US":"Variable"},"type":"input","opts":{"types":["str"]}}}],"color":"#3CB4E6"},{"id":"8faafb1d.8af628","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a9b7c5f2.1de258","type":"ui_spacer","name":"spacer","group":"","order":4,"width":3,"height":1},{"id":"25f54289.3a558e","type":"ui_spacer","name":"spacer","group":"","order":2,"width":4,"height":1},{"id":"43b9511.ee6ceb","type":"ui_spacer","name":"spacer","group":"","order":3,"width":4,"height":1},{"id":"8492db4b.33a588","type":"ui_spacer","name":"spacer","group":"","order":4,"width":4,"height":1},{"id":"e45796ca.18da28","type":"ui_spacer","name":"spacer","group":"","order":5,"width":4,"height":1},{"id":"94c47de8.6d3be","type":"ui_spacer","name":"spacer","group":"","order":8,"width":4,"height":1},{"id":"c70d176f.767b28","type":"ui_spacer","name":"spacer","group":"","order":9,"width":4,"height":1},{"id":"cec3b13a.47212","type":"ui_spacer","name":"spacer","group":"","order":10,"width":4,"height":1},{"id":"469a429f.6325ec","type":"ui_spacer","name":"spacer","group":"","order":11,"width":4,"height":1},{"id":"6ee8cbcd.f40fd4","type":"ui_spacer","name":"spacer","group":"","order":12,"width":4,"height":1},{"id":"2e2cc40d.8e862c","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"48eb3811.154438","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"946ebde5.be765","type":"ui_group","name":"Advanced Flow","tab":"fccfda7.825f628","order":1,"disp":true,"width":"20","collapse":false},{"id":"fccfda7.825f628","type":"ui_tab","name":"Advanced","icon":"dashboard","disabled":false,"hidden":false},{"id":"d00ad1ec.7265","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":1,"width":1,"height":1},{"id":"b352d06d.2705c","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":3,"width":1,"height":1},{"id":"bdbf71be.10c4","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":5,"width":6,"height":1},{"id":"bd334768.009088","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":6,"width":1,"height":1},{"id":"62bb52c5.0c0d8c","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":8,"width":1,"height":1},{"id":"e85d0a6f.c28318","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":9,"width":1,"height":1},{"id":"b5111080.390a2","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":11,"width":1,"height":1},{"id":"b28d0ddf.cfe57","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":12,"width":1,"height":1},{"id":"cfd0db90.c9bac8","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":14,"width":1,"height":1},{"id":"a54dfbb0.7ad8c8","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":15,"width":1,"height":1},{"id":"c6102d59.546","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":16,"width":1,"height":1},{"id":"7a769432.dc6fec","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":17,"width":1,"height":1},{"id":"25706f33.07a07","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":19,"width":1,"height":1},{"id":"38fd80d0.bdab","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":20,"width":1,"height":1},{"id":"31ea8059.9cd85","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":21,"width":1,"height":1},{"id":"88d32503.ff6ef8","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":22,"width":1,"height":1},{"id":"95586459.2de308","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":23,"width":1,"height":1},{"id":"a58f1170.632e8","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":24,"width":6,"height":1},{"id":"6a7996b5.f37e18","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":25,"width":1,"height":1},{"id":"abe1bec8.82dc1","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":26,"width":1,"height":1},{"id":"8ccb7c9b.199c8","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":27,"width":1,"height":1},{"id":"f078adae.b47fe","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":29,"width":1,"height":1},{"id":"1671e6d6.6da119","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":30,"width":1,"height":1},{"id":"15586fe7.8d56c","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":31,"width":1,"height":1},{"id":"f6f1b3eb.b984e","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":32,"width":1,"height":1},{"id":"cae50e52.ce625","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":33,"width":1,"height":1},{"id":"5e197ac4.bd9904","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":34,"width":1,"height":1},{"id":"ddd75492.78fd78","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":35,"width":1,"height":1},{"id":"5c4917bf.b2a758","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":36,"width":1,"height":1},{"id":"839e0e04.7c7dd","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":37,"width":1,"height":1},{"id":"e9d15e6c.227ed","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":38,"width":1,"height":1},{"id":"79b4f628.7d71a8","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":39,"width":1,"height":1},{"id":"8a575c34.db214","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":40,"width":6,"height":1},{"id":"4d80e77d.78e888","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":41,"width":1,"height":1},{"id":"9a77a0bb.a6787","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":42,"width":1,"height":1},{"id":"10979bac.432f74","type":"ui_spacer","name":"spacer","group":"946ebde5.be765","order":43,"width":6,"height":1},{"id":"d28ca1c5.af5e6","type":"ui_chartst","z":"9926b2a6.cef5f","group":"946ebde5.be765","name":"myChart","order":4,"width":8,"height":10,"chartType":"line","curveType":"linear","duration":"10","ymin":"","ymax":"","x":780,"y":340,"wires":[]},{"id":"69145dd2.1b8794","type":"acquisition out","z":"9926b2a6.cef5f","name":"myProbe_Out","probeconfig":"","x":740,"y":120,"wires":[]},{"id":"f8a02286.78666","type":"acquisition in","z":"9926b2a6.cef5f","name":"myProbe_In","probeconfig":"","x":190,"y":340,"wires":[["5ab91037.bd966"],[]]},{"id":"46ac11ae.e9a02","type":"variables","z":"9926b2a6.cef5f","groupname":"myVariables","accesspoint":0,"execonfig":"","variablelist":[],"triggerstartmode":"manual","triggername":"counterS16","triggerthreshold":"30000","frequency":"","frequencyType":"0","snapshotheader":"","mode":"direct","lastImportedTime":-1,"openStatus":true,"x":330,"y":120,"wires":[["69145dd2.1b8794"]]},{"id":"ec4084a4.ad90a8","type":"ui_button","z":"c87292d9.be5f3","name":"","group":"946ebde5.be765","order":2,"width":4,"height":1,"passthru":false,"label":"START Acquisition","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":190,"y":100,"wires":[["f8485c1a.ac5a6"]]},{"id":"7b238fa4.237c3","type":"ui_button","z":"c87292d9.be5f3","name":"","group":"946ebde5.be765","order":7,"width":4,"height":1,"passthru":true,"label":"STOP Acquisition","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":190,"y":160,"wires":[["31a5c0cd.6bfc2"]]},{"id":"8b133c39.55e5e","type":"ui_button","z":"c87292d9.be5f3","name":"","group":"946ebde5.be765","order":13,"width":4,"height":1,"passthru":false,"label":"Clear Graphs","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"clear","x":170,"y":220,"wires":[["8d864a89.49def8"]]},{"id":"62da7726.729e88","type":"acquisition out","z":"9926b2a6.cef5f","name":"myProbe_Out2","probeconfig":"","x":740,"y":200,"wires":[]},{"id":"42c50956.d5a858","type":"variables","z":"9926b2a6.cef5f","groupname":"myVariables2","accesspoint":0,"execonfig":"","variablelist":[],"triggerstartmode":"manual","triggername":"toto","triggerthreshold":"30000","frequency":"","frequencyType":"0","snapshotheader":"","mode":"direct","lastImportedTime":-1,"openStatus":true,"x":340,"y":200,"wires":[["62da7726.729e88","952a9627.8486d8"]]},{"id":"3f01e48.daf031c","type":"acquisition in","z":"9926b2a6.cef5f","name":"myProbe_In2","probeconfig":"","x":190,"y":460,"wires":[["afa367ee.24e6e8"],[]]},{"id":"5ab91037.bd966","type":"processing","z":"9926b2a6.cef5f","groupname":"","groupid":{},"expressions":[],"statistics":[],"logmode":"no","x":390,"y":340,"wires":[["d28ca1c5.af5e6"],[]]},{"id":"afa367ee.24e6e8","type":"processing","z":"9926b2a6.cef5f","groupname":"","groupid":{},"expressions":[],"statistics":[],"logmode":"no","x":390,"y":460,"wires":[["6916e89c.e07cb8","91f3c236.b8ac2"],[]]},{"id":"f8485c1a.ac5a6","type":"link out","z":"c87292d9.be5f3","name":"START link","links":["dde5e2c3.ae878"],"x":395,"y":100,"wires":[]},{"id":"31a5c0cd.6bfc2","type":"link out","z":"c87292d9.be5f3","name":"STOP link","links":["ee7bab7c.41dab8"],"x":395,"y":160,"wires":[]},{"id":"8d864a89.49def8","type":"link out","z":"c87292d9.be5f3","name":"CLEAR link","links":["2c92a63.ac2b25a"],"x":395,"y":220,"wires":[]},{"id":"dde5e2c3.ae878","type":"link in","z":"9926b2a6.cef5f","name":"START","links":["f8485c1a.ac5a6"],"x":115,"y":100,"wires":[["46ac11ae.e9a02","42c50956.d5a858"]]},{"id":"ee7bab7c.41dab8","type":"link in","z":"9926b2a6.cef5f","name":"STOP","links":["31a5c0cd.6bfc2"],"x":115,"y":160,"wires":[["46ac11ae.e9a02","42c50956.d5a858"]]},{"id":"2c92a63.ac2b25a","type":"link in","z":"9926b2a6.cef5f","name":"CLEAR","links":["8d864a89.49def8"],"x":595,"y":400,"wires":[["d28ca1c5.af5e6"]]},{"id":"8fe1d2c7.16693","type":"ui_gauge","z":"9926b2a6.cef5f","name":"myGauge","group":"946ebde5.be765","order":10,"width":4,"height":3,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":440,"wires":[]},{"id":"947df09.d57a51","type":"ui_gauge","z":"9926b2a6.cef5f","name":"myGauge2","group":"946ebde5.be765","order":28,"width":4,"height":3,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":520,"wires":[]},{"id":"952a9627.8486d8","type":"ui_write","z":"9926b2a6.cef5f","group":"946ebde5.be765","name":"myWrite","order":18,"width":4,"height":7,"x":540,"y":260,"wires":[["62da7726.729e88"]]},{"id":"3061e358.e966dc","type":"inject","z":"c87292d9.be5f3","name":"Inject","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"write","payload":"","payloadType":"date","x":170,"y":300,"wires":[["c4f212c3.ad781"]]},{"id":"c4f212c3.ad781","type":"link out","z":"c87292d9.be5f3","name":"INJECT","links":["e3c0202e.c3977"],"x":395,"y":300,"wires":[]},{"id":"e3c0202e.c3977","type":"link in","z":"9926b2a6.cef5f","name":"","links":["c4f212c3.ad781"],"x":115,"y":220,"wires":[["42c50956.d5a858"]]},{"id":"6916e89c.e07cb8","type":"subflow:8381c865.236028","z":"9926b2a6.cef5f","name":"myFilter","env":[],"x":600,"y":460,"wires":[["8fe1d2c7.16693"]]},{"id":"91f3c236.b8ac2","type":"subflow:8381c865.236028","z":"9926b2a6.cef5f","name":"myFilter2","env":[],"x":600,"y":520,"wires":[["947df09.d57a51"]]},{"id":"3c5ffe0d.9063b2","type":"switch","z":"8381c865.236028","name":"filter variable","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"varfilter","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":60,"wires":[["4e5ba7a5.14dec8"]]},{"id":"4e5ba7a5.14dec8","type":"change","z":"8381c865.236028","name":"keep only table of duplets","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.variabledata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":60,"wires":[["42bc6ed.5b20d9"]]},{"id":"42bc6ed.5b20d9","type":"split","z":"8381c865.236028","name":"Split a table[1..n] of duplets in n msg of single duplet","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":800,"y":60,"wires":[["8b8ddb84.6fb208"]]},{"id":"8b8ddb84.6fb208","type":"delay","z":"8381c865.236028","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":140,"wires":[["66397fd3.d8111"]]},{"id":"66397fd3.d8111","type":"change","z":"8381c865.236028","name":"keep only value and delete timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[[]]}]
